<header class="topbar">
  <button id="menuToggle" class="menu-btn">☰</button>

  <a href="/" class="logo">
    <img src="/assets/logo.png" alt="PadlizsanFanSub">
    <span>PadlizsanFanSub</span>
  </a>

  <div class="search-wrapper">
    <input
      type="text"
      id="searchInput"
      placeholder="Search manga..."
      autocomplete="off"
    />
    <div id="searchResults" class="search-results hidden"></div>
  </div>

  <a
    href="https://patreon.com/Padlizsanfansub"
    target="_blank"
    class="patreon"
  >
    <img src="/assets/pat2.png">
  </a>


<a
  href="https://discord.gg/Hq6SysgZXC"
  target="_blank"
  rel="noopener"
  class="icon-btn discord"
  title="Discord"
>
  <img src="/assets/discord.svg" alt="Discord">
</a>

<div class="settings-wrapper">
  <button id="settingsBtn" class="icon-btn settings-btn" title="Settings">
<img id="headerAvatar" src="/uploads/default.png" class="header-avatar"> 
 </button>

  <div id="settingsMenu" class="settings-menu hidden">

<div class="settings-user">
  <div>
    <div id="menuUserName">Admin</div>
    <div class="user-tier" id="menuUserTier"></div>
  </div>
</div>

<div class="settings-menu-item online-item">
  <span class="online-item"></span>
 🟢 Online: <span id="onlineCount">...</span>
</div>

    <a href="/profile.html">👤 My Profile</a>
    <a href="/settings.html">⚙️ Settings</a>
	<a href="/stats.html">Statisztika</a>
<button id="logoutBtn" class="settings-action logout-item">
  <img src="/assets/logout.png" class="menu-icon">
  <span>Kijelentkezés</span>
</button>
 <!-- ADMIN ONLY -->
<a id="usersBtn" href="/admin.html" class="settings-action hidden" type="button" >
  🛠️ Admin
</a>
	<button id="scanBtn"  class="settings-action hidden" type="button" >
      🔄 Scan library
    </button>
	
  </div>
</div>

</header>
